<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jiezh.dao.coupon.partner.CouponTypeVODao" >
  <resultMap id="BaseResultMap" type="com.jiezh.dao.coupon.partner.CouponTypeVO" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="PARTNER_ID" property="partnerId" jdbcType="DECIMAL" />
    <result column="COUPON_TYPE" property="couponType" jdbcType="VARCHAR" />
    <result column="COUPON_NAME" property="couponName" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="CREATED_TIME" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="CREATED_USER_ID" property="createdUserId" jdbcType="DECIMAL" />
    <result column="UPDATED_TIME" property="updatedTime" jdbcType="TIMESTAMP" />
    <result column="UPDATED_USER_ID" property="updatedUserId" jdbcType="DECIMAL" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, PARTNER_ID partnerId, COUPON_TYPE couponType, COUPON_NAME couponName, STATUS, CREATED_TIME createdTime, CREATED_USER_ID createdUserId, 
    UPDATED_TIME updatedTime, UPDATED_USER_ID updatedUserId, REMARK
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from T_COUPON_TYPE
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from T_COUPON_TYPE
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.jiezh.dao.coupon.partner.CouponTypeVO" >
  	<selectKey keyProperty="id" resultType="long" order="BEFORE">
  		select s_coupon_type_id.nextval as id from dual
  	</selectKey>
    insert into T_COUPON_TYPE (ID, PARTNER_ID, COUPON_TYPE, 
      COUPON_NAME, STATUS,
      CREATED_USER_ID, UPDATED_TIME, UPDATED_USER_ID, 
      REMARK)
    values (#{id,jdbcType=DECIMAL}, #{partnerId,jdbcType=DECIMAL}, #{couponType,jdbcType=VARCHAR}, 
      #{couponName,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{createdUserId,jdbcType=DECIMAL}, #{updatedTime,jdbcType=TIMESTAMP}, #{updatedUserId,jdbcType=DECIMAL}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jiezh.dao.coupon.partner.CouponTypeVO" >
    insert into T_COUPON_TYPE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="partnerId != null" >
        PARTNER_ID,
      </if>
      <if test="couponType != null" >
        COUPON_TYPE,
      </if>
      <if test="couponName != null" >
        COUPON_NAME,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="createdTime != null" >
        CREATED_TIME,
      </if>
      <if test="createdUserId != null" >
        CREATED_USER_ID,
      </if>
      <if test="updatedTime != null" >
        UPDATED_TIME,
      </if>
      <if test="updatedUserId != null" >
        UPDATED_USER_ID,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="partnerId != null" >
        #{partnerId,jdbcType=DECIMAL},
      </if>
      <if test="couponType != null" >
        #{couponType,jdbcType=VARCHAR},
      </if>
      <if test="couponName != null" >
        #{couponName,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null" >
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createdUserId != null" >
        #{createdUserId,jdbcType=DECIMAL},
      </if>
      <if test="updatedTime != null" >
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedUserId != null" >
        #{updatedUserId,jdbcType=DECIMAL},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jiezh.dao.coupon.partner.CouponTypeVO" >
    update T_COUPON_TYPE
    <set >
      <if test="partnerId != null" >
        PARTNER_ID = #{partnerId,jdbcType=DECIMAL},
      </if>
      <if test="couponType != null" >
        COUPON_TYPE = #{couponType,jdbcType=VARCHAR},
      </if>
      <if test="couponName != null" >
        COUPON_NAME = #{couponName,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null" >
        CREATED_TIME = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createdUserId != null" >
        CREATED_USER_ID = #{createdUserId,jdbcType=DECIMAL},
      </if>
      <if test="updatedUserId != null" >
        UPDATED_USER_ID = #{updatedUserId,jdbcType=DECIMAL},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      UPDATED_TIME = SYSDATE
    </set>
    
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jiezh.dao.coupon.partner.CouponTypeVO" >
    update T_COUPON_TYPE
    set PARTNER_ID = #{partnerId,jdbcType=DECIMAL},
      COUPON_TYPE = #{couponType,jdbcType=VARCHAR},
      COUPON_NAME = #{couponName,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=VARCHAR},
      CREATED_TIME = #{createdTime,jdbcType=TIMESTAMP},
      CREATED_USER_ID = #{createdUserId,jdbcType=DECIMAL},
      UPDATED_TIME = #{updatedTime,jdbcType=TIMESTAMP},
      UPDATED_USER_ID = #{updatedUserId,jdbcType=DECIMAL},
      REMARK = #{remark,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <select id="selectByMap" parameterType="map" resultType="com.jiezh.dao.coupon.partner.CouponTypeVO">
  	select 
  	<include refid="Base_Column_List" />
  	from t_coupon_type t
  	where t.status = '1'
  	and t.partner_id = #{id,jdbcType=DECIMAL}
  </select>
  
</mapper>