<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiezh.dao.weixin.app.WeixinAppDao">
  <resultMap id="BaseResultMap" type="com.jiezh.dao.weixin.app.WeixinAppVO">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="MAIN_ID" jdbcType="DECIMAL" property="mainId" />
    <result column="APP_ID" jdbcType="DECIMAL" property="appId" />
    <result column="APP_NAME" jdbcType="VARCHAR" property="appName" />
    <result column="TOKEN" jdbcType="VARCHAR" property="token" />
    <result column="ENCODING_AES_KEY" jdbcType="VARCHAR" property="encodingAesKey" />
    <result column="CALL_BACK_URL" jdbcType="VARCHAR" property="callBackUrl" />
    <result column="SECRET" jdbcType="VARCHAR" property="secret" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
    <result column="ACCECC_TOKEN" jdbcType="VARCHAR" property="acceccToken" />
    <result column="ACCESS_TICKET" jdbcType="VARCHAR" property="accessTicket" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, MAIN_ID, APP_ID, APP_NAME, TOKEN, ENCODING_AES_KEY, CALL_BACK_URL, SECRET, CREATE_DATE, 
    ACCECC_TOKEN, ACCESS_TICKET
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from T_WEIXIN_APPS
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from T_WEIXIN_APPS
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.jiezh.dao.weixin.app.WeixinAppVO">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      select S_WEIXIN_APPS_ID.Nextval as id from dual 
    </selectKey>
    insert into T_WEIXIN_APPS (MAIN_ID, APP_ID, APP_NAME, 
      TOKEN, ENCODING_AES_KEY, CALL_BACK_URL, 
      SECRET, CREATE_DATE, ACCECC_TOKEN, 
      ACCESS_TICKET)
    values (#{mainId,jdbcType=DECIMAL}, #{appId,jdbcType=DECIMAL}, #{appName,jdbcType=VARCHAR}, 
      #{token,jdbcType=VARCHAR}, #{encodingAesKey,jdbcType=VARCHAR}, #{callBackUrl,jdbcType=VARCHAR}, 
      #{secret,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{acceccToken,jdbcType=VARCHAR}, 
      #{accessTicket,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jiezh.dao.weixin.app.WeixinAppVO">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      select S_WEIXIN_APPS_ID.Nextval as id from dual 
    </selectKey>
    insert into T_WEIXIN_APPS
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="mainId != null">
        MAIN_ID,
      </if>
      <if test="appId != null">
        APP_ID,
      </if>
      <if test="appName != null">
        APP_NAME,
      </if>
      <if test="token != null">
        TOKEN,
      </if>
      <if test="encodingAesKey != null">
        ENCODING_AES_KEY,
      </if>
      <if test="callBackUrl != null">
        CALL_BACK_URL,
      </if>
      <if test="secret != null">
        SECRET,
      </if>
      <if test="createDate != null">
        CREATE_DATE,
      </if>
      <if test="acceccToken != null">
        ACCECC_TOKEN,
      </if>
      <if test="accessTicket != null">
        ACCESS_TICKET,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="mainId != null">
        #{mainId,jdbcType=DECIMAL},
      </if>
      <if test="appId != null">
        #{appId,jdbcType=DECIMAL},
      </if>
      <if test="appName != null">
        #{appName,jdbcType=VARCHAR},
      </if>
      <if test="token != null">
        #{token,jdbcType=VARCHAR},
      </if>
      <if test="encodingAesKey != null">
        #{encodingAesKey,jdbcType=VARCHAR},
      </if>
      <if test="callBackUrl != null">
        #{callBackUrl,jdbcType=VARCHAR},
      </if>
      <if test="secret != null">
        #{secret,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="acceccToken != null">
        #{acceccToken,jdbcType=VARCHAR},
      </if>
      <if test="accessTicket != null">
        #{accessTicket,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jiezh.dao.weixin.app.WeixinAppVO">
    update T_WEIXIN_APPS
    <set>
      <if test="mainId != null">
        MAIN_ID = #{mainId,jdbcType=DECIMAL},
      </if>
      <if test="appId != null">
        APP_ID = #{appId,jdbcType=DECIMAL},
      </if>
      <if test="appName != null">
        APP_NAME = #{appName,jdbcType=VARCHAR},
      </if>
      <if test="token != null">
        TOKEN = #{token,jdbcType=VARCHAR},
      </if>
      <if test="encodingAesKey != null">
        ENCODING_AES_KEY = #{encodingAesKey,jdbcType=VARCHAR},
      </if>
      <if test="callBackUrl != null">
        CALL_BACK_URL = #{callBackUrl,jdbcType=VARCHAR},
      </if>
      <if test="secret != null">
        SECRET = #{secret,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="acceccToken != null">
        ACCECC_TOKEN = #{acceccToken,jdbcType=VARCHAR},
      </if>
      <if test="accessTicket != null">
        ACCESS_TICKET = #{accessTicket,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jiezh.dao.weixin.app.WeixinAppVO">
    update T_WEIXIN_APPS
    set MAIN_ID = #{mainId,jdbcType=DECIMAL},
      APP_ID = #{appId,jdbcType=DECIMAL},
      APP_NAME = #{appName,jdbcType=VARCHAR},
      TOKEN = #{token,jdbcType=VARCHAR},
      ENCODING_AES_KEY = #{encodingAesKey,jdbcType=VARCHAR},
      CALL_BACK_URL = #{callBackUrl,jdbcType=VARCHAR},
      SECRET = #{secret,jdbcType=VARCHAR},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      ACCECC_TOKEN = #{acceccToken,jdbcType=VARCHAR},
      ACCESS_TICKET = #{accessTicket,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>