<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jiezh.dao.message.MessageAnswerVODao" >
  <resultMap id="BaseResultMap" type="com.jiezh.dao.message.MessageAnswerVO" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="MSG_ID" property="msgId" jdbcType="DECIMAL" />
    <result column="ANSWER" property="answer" jdbcType="VARCHAR" />
    <result column="ANSWER_USER_ID" property="answerUserId" jdbcType="DECIMAL" />
    <result column="ANSWER_USER_NAME" property="answerUserName" jdbcType="VARCHAR" />
    <result column="CREATED_TIME" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="CREATED_USER_ID" property="createdUserId" jdbcType="DECIMAL" />
    <result column="UPDATED_TIME" property="updatedTime" jdbcType="TIMESTAMP" />
    <result column="UPDATED_USER_ID" property="updatedUserId" jdbcType="DECIMAL" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, MSG_ID, ANSWER, ANSWER_USER_ID, ANSWER_USER_NAME, CREATED_TIME, CREATED_USER_ID, 
    UPDATED_TIME, UPDATED_USER_ID, REMARK
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from T_MESSAGE_ANSWER
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from T_MESSAGE_ANSWER
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.jiezh.dao.message.MessageAnswerVO" >
  	<selectKey keyProperty="id" order="BEFORE" resultType="long">
  		select s_message_answer_id.nextval as id from dual
  	</selectKey>
    insert into T_MESSAGE_ANSWER (ID, MSG_ID, ANSWER, 
      ANSWER_USER_ID, ANSWER_USER_NAME, CREATED_TIME, 
      CREATED_USER_ID, UPDATED_TIME, UPDATED_USER_ID, 
      REMARK)
    values (#{id,jdbcType=DECIMAL}, #{msgId,jdbcType=DECIMAL}, #{answer,jdbcType=VARCHAR}, 
      #{answerUserId,jdbcType=DECIMAL}, #{answerUserName,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP}, 
      #{createdUserId,jdbcType=DECIMAL}, #{updatedTime,jdbcType=TIMESTAMP}, #{updatedUserId,jdbcType=DECIMAL}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jiezh.dao.message.MessageAnswerVO" >
    insert into T_MESSAGE_ANSWER
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="msgId != null" >
        MSG_ID,
      </if>
      <if test="answer != null" >
        ANSWER,
      </if>
      <if test="answerUserId != null" >
        ANSWER_USER_ID,
      </if>
      <if test="answerUserName != null" >
        ANSWER_USER_NAME,
      </if>
      <if test="createdTime != null" >
        CREATED_TIME,
      </if>
      <if test="createdUserId != null" >
        CREATED_USER_ID,
      </if>
      <if test="updatedTime != null" >
        UPDATED_TIME,
      </if>
      <if test="updatedUserId != null" >
        UPDATED_USER_ID,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="msgId != null" >
        #{msgId,jdbcType=DECIMAL},
      </if>
      <if test="answer != null" >
        #{answer,jdbcType=VARCHAR},
      </if>
      <if test="answerUserId != null" >
        #{answerUserId,jdbcType=DECIMAL},
      </if>
      <if test="answerUserName != null" >
        #{answerUserName,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null" >
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createdUserId != null" >
        #{createdUserId,jdbcType=DECIMAL},
      </if>
      <if test="updatedTime != null" >
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedUserId != null" >
        #{updatedUserId,jdbcType=DECIMAL},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jiezh.dao.message.MessageAnswerVO" >
    update T_MESSAGE_ANSWER
    <set >
      <if test="msgId != null" >
        MSG_ID = #{msgId,jdbcType=DECIMAL},
      </if>
      <if test="answer != null" >
        ANSWER = #{answer,jdbcType=VARCHAR},
      </if>
      <if test="answerUserId != null" >
        ANSWER_USER_ID = #{answerUserId,jdbcType=DECIMAL},
      </if>
      <if test="answerUserName != null" >
        ANSWER_USER_NAME = #{answerUserName,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null" >
        CREATED_TIME = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createdUserId != null" >
        CREATED_USER_ID = #{createdUserId,jdbcType=DECIMAL},
      </if>
      <if test="updatedTime != null" >
        UPDATED_TIME = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedUserId != null" >
        UPDATED_USER_ID = #{updatedUserId,jdbcType=DECIMAL},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jiezh.dao.message.MessageAnswerVO" >
    update T_MESSAGE_ANSWER
    set MSG_ID = #{msgId,jdbcType=DECIMAL},
      ANSWER = #{answer,jdbcType=VARCHAR},
      ANSWER_USER_ID = #{answerUserId,jdbcType=DECIMAL},
      ANSWER_USER_NAME = #{answerUserName,jdbcType=VARCHAR},
      CREATED_TIME = #{createdTime,jdbcType=TIMESTAMP},
      CREATED_USER_ID = #{createdUserId,jdbcType=DECIMAL},
      UPDATED_TIME = #{updatedTime,jdbcType=TIMESTAMP},
      UPDATED_USER_ID = #{updatedUserId,jdbcType=DECIMAL},
      REMARK = #{remark,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <select id="selectAnswerByVo" parameterType="com.jiezh.dao.message.MessageAnswerVO" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List" />
  	from t_message_answer
  	<where>
  		<if test="msgId != null">
  			and msg_id = #{msgId,jdbcType=VARCHAR}
  		</if>
  	</where>
  	order by id
  </select>
</mapper>